.header{
    @include flex-center-center;
    padding-top: 0.4rem;
    position: relative;
    height: 4.2rem;
    @include desktop{
        margin: 1.5rem;
    }
    @include high-height{
        height: auto;
    }   
    &__logo{
        @include high-height{
            margin-top: 5rem;
            margin-bottom: 5rem;
            transform: scale(2);
        }
    }
    &__exit{
        position: absolute;
        left: 1.3rem;
        top: 40%;
        color: $black;
    }
}

.footer{
    padding-left: 1rem;
    padding-bottom: 2rem;
    background-color: $dark-gray;
    @include desktop{
        overflow: hidden;
        border-radius: $border-radius;
        margin-bottom: 4.2rem;
        @include box-shadow(40%);
    }
    @include high-height{
        margin-bottom: 5rem;
    }
    &__title{
        padding-top: 1.1rem;
        padding-left: 0.6rem;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        color: $white;
        @include desktop{
            text-align: center;
        }
    }
    &__list{
        padding-top: 0.9rem;
        @include desktop{
            text-align: center;
        }
        li{
            margin: 0.6rem;
            .fa-utensils{
                margin-right: 0.7rem;
            }
            .fa-hands-helping{
                font-size: 0.8rem;
                margin-right: 0.6rem;
            }
        }
    }
}
