@keyframes animation-apparition-div{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animation-titres-entrees-plats-dessert{
    0%{
        opacity: 0;
        transform: scale(0.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animation-apparition-logo-loader{
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress-bar{
    0%{
        transform: scaleX(0);
        opacity: 1;
    }
    100%{ 
        transform: scaleX(1);
    }
    
}

@keyframes disparition-container-loader{
    90%{
        opacity: 1;
    }
    99%{
        transform: translateX(0);
        opacity: 0.1;
    }
    100%{
        opacity: 0;
        transform: translateX(9999px);
    }
}

#container{ // loader's container
    @include flex-center-center;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $white;
    animation: disparition-container-loader 3s;
    animation-fill-mode: forwards;
    .loader__logo{
        width: 50%;
        margin-top: 5%;
        animation: animation-apparition-logo-loader 2.5s ease-in;
        @include desktop{
            width: 20%;
            margin-top: 2%;
        }
    }
    .progress{
        width: 50%;
        margin: auto;
        border-radius: 0.3rem;
        border: 0.2rem solid black;
        &__bar{
            transform-origin: left;
            height: 2rem;
            background-image: linear-gradient(to bottom, $color-secondary, $color-primary); 
            animation: progress-bar 2.5s ease-in;
        }
    }
}

.section-localisation{
    @include desktop{
        overflow: hidden;
        border-radius: $border-radius;
        @include box-shadow(30%);
        transition: all 0.3s;
        @include zoom-on-hover;
    }
    &__localisation{
        @include flex-center-center;
        background-color: $middle-gray;
        height: 3.1rem;
        box-shadow: 0 -0.15rem .1rem darken($middle-gray, 15%);
    }
    &__recherche{
        @include flex-column-sa-center;
        background-color: $light-gray;
        padding: 2.8rem;
        text-align: center;
        height: 17.8rem;
        h2{
            @include desktop{
                margin-bottom: 0;
            }
        }
    }
    &__btn{
        @include bouton-degrade;
    }
}

.section-fonctionnement{
    height: 27.5rem;
    @include desktop{
        height: auto;
        padding-bottom: 3rem;
    }
    h2{
        @extend %padding-h2-fonctionnement-restaurants;
    }
    &__list{
        @include desktop{
            display: flex;
            margin: 2rem;
        }
    }
    &__list li{
        @include div-rectangle;
        position: relative;
        background-color: $light-gray;
        transition: all 0.2s;
        @include desktop{
            width: 30%;
            @include box-shadow(30%);
            @include zoom-on-hover;
        }
        &:hover{
            background-color: lighten($color-primary, 35%);
        }
        &:active{
            background-color: lighten($color-primary, 35%);
        }
        a{
            @include flex-center-center;
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            &:hover i{
                color: $color-primary;
            }
        }
        span{
            display: inline-block;
            position: absolute;
            left: -0.6rem;
            top: 35%;
            border-radius: 50%;
            background-color: $color-primary;
            color: $white;
            padding: 0.15rem 0.4rem;
        }
    }
}

.section-restaurants{
    background-color: $light-gray;
    padding-bottom: 3.1rem;
    @include desktop{
        border-radius: $border-radius;
        margin-bottom: 4.2rem;
        @include box-shadow(30%);
        @include zoom-on-hover;
    }
    h2{
        @extend %padding-h2-fonctionnement-restaurants;
    }
    &__unordered-list{
        @include ipad{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__card{
        width: 90%;
        margin: 1rem auto;
        background-color: $white;
        border-radius: $border-radius;
        position: relative;
        overflow: hidden;
        @include box-shadow(10%);
        @include desktop{
            @include zoom-on-hover;
        }
    }
    .image{ // div contenant l'image
        height: 11rem;
        overflow: hidden;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        img{
            position: relative;
            top: -3.4rem;
            @include desktop{
                top: -8rem;
            }
            @include desktop-plus{
                top: -10rem;
            }
        }
        .la-note-enchantee{
            top: -9.4rem;
            @include desktop{
                top: -17rem;
            }
            @include desktop-plus{
                top: -21rem;
            }
        }
    }
    &__btn{ // bouton new
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        border-radius: ($border-radius / 10);
        border: none;
        padding: .3rem .55rem;
        font-size: 0.9rem;
        font-weight: 600;
        z-index: 1;
        
    }
    &__btn-heart{
        @include btn-heart-like;
    }
    &__nom-lieu{
        position: relative;
        height: 3.7rem;
        padding-left: 1rem;
        h4{
            margin: 1rem 0 .3rem 0;
        }
    }
}

.main-menu{
    background-color: $light-gray;
    @include desktop{
        background-color: $white;
    }
    .img-menu{
        height: 15.5rem;
        @include desktop{
            border-radius: $border-radius;
            @include box-shadow(40%);
            @include zoom-on-hover;
        }
    }
    h3{
        transform: scale(0);
        animation: animation-titres-entrees-plats-dessert .3s;
        animation-fill-mode: both;
    }
    .plats{
        animation-delay: .3s;
    }
    .desserts{
        animation-delay: 0.9s;
    }
}

.section-menu{
    position: relative;
    top: -2.5rem;
    background-color: $light-gray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    @include desktop{
        border-radius: $border-radius;
        margin-top: 4.2rem;
        margin-bottom: 4.2rem;
        top: 0;
        @include box-shadow(20%);
        @include zoom-on-hover;
    }
    .all-menu-container{
        @include desktop{
            display: flex;
        }
        .title-menu-container{
            @include desktop{
                width: 30%;
                margin: 0 auto;
            }
        }
    }
    &__title{
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 1.8rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    &__btn-heart{
            @include btn-heart-like;
            top: 3%;
            margin-right: 7%;
            @include desktop{
                top: 7%;
            }
            .like{
                background-color: $light-gray;
            }
    }
    &__subtitle{ // entrées - plats - desserts
        margin-top: 1rem;
        padding-left: 1rem;
        text-transform: uppercase;
        font-weight: lighter;
        &::after{
            display: block;
            content: "";
            height: 0.2rem;
            margin-top: 0.2rem;
            background-color: $color-tertiary;
            width: 2.7rem;
        }
    }
    &__list li{
        display: flex;
        @include div-rectangle;
        @include box-shadow(10%);
        background-color: $white;
        padding: 0.6rem;
        cursor: pointer;
        overflow: hidden;
        opacity: 0;
        animation: animation-apparition-div 0.5s;
        animation-fill-mode: both;
        &:hover .section-menu__container-checked{
            margin-right: -0.7rem;
        }
        &:hover .section-menu__checked{
            transform: rotate(0);
        }
        .name-lunch{
            @include nowrap-hidden-ellipsis;
            flex: 1;
            h4{
                font-size: 1.1rem;
                margin-top: 0.3rem;
                margin-bottom: 5px;
                @include nowrap-hidden-ellipsis;
            }
            p{
                @include nowrap-hidden-ellipsis;
                font-size: 0.9rem;
                color: lighten($black, 40%);
            }
        }
        .price{
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-bottom: 0.3rem;
            margin-right: 0.5rem;
            margin-left: 1rem;
        }
    }
    &__list.starter-list{
        li:nth-child(2){
            animation-delay: 0.2s;
        }
        li:nth-child(3){
            animation-delay: 0.4s;
        }
        li:nth-child(4){
            animation-delay: 0.5s;
        }
    }
    &__list.main-list{
        li:nth-child(1){
            animation-delay: .6s;
        }
        li:nth-child(2){
            animation-delay: .8s;
        }
        li:nth-child(3){
            animation-delay: 1s;
        }
    }
    &__list.dessert-list{
        li:nth-child(1){
            animation-delay: 1.2s;
        }
        li:nth-child(2){
            animation-delay: 1.4s;
        }
        li:nth-child(3){
            animation-delay: 1.6s;
        }
    }
    &__container-checked{
        width: 4rem;
        background-color: $color-tertiary;
        @include flex-center-center;
        margin: -0.7rem -4.7rem -0.7rem 1rem;
        transition: all 0.5s;
    }
    &__checked{
        height: 1.55rem;
        width: 1.55rem;
        border-radius: 50%;
        background-color: $white;
        transform: rotate(180deg);
        transition: all 0.5s;
        i{
            color: $color-tertiary;
            position: relative;
            left: .3rem;
            top: .2rem;
        }
    }
    &__commander{
        @include flex-center-center;
        height: 6.9rem;
    }
    &__btn{
        @include bouton-degrade;
        padding: 1.1rem 3.7rem;
    }
}

// loader spinner

#loader__logo{
    width: 50%;
    margin-top: 5%;
    position: absolute;
    top: 0;
}

.loader {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, $color-primary , $color-secondary) ; 
    position: relative;
    animation: load3 3s infinite linear;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background-color: $white;
    position: absolute;
    content: '';
  }
  .loader:after {
    background-color: $white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  @keyframes load3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
