.section-localisation{
    &__localisation{
        @include flex-center-center;
        background-color: $middle-gray;
        height: 50px;
        box-shadow: 0 -2px 2px darken($middle-gray, 15%);
    }
    &__recherche{
        @include flex-column-sb-center;
        background-color: $light-gray;
        padding: 45px;
        text-align: center;
        height: 285px;
    }
    &__btn{
        @include bouton-degrade;
    }
}

.section-fonctionnement{
    height: 440px;
    h2{
        @extend %padding-h2-fonctionnement-restaurants;
    }
    &__list li{
        @include div-rectangle;
        position: relative;
        background-color: $light-gray;
        transition: all 0.2s;
        &:hover{
            background-color: lighten($color-primary, 35%);
        }
        &:active{
            background-color: lighten($color-primary, 35%);
        }
        a{
            @include flex-center-center;
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            &:hover i{
                color: $color-primary;
            }
        }
        span{
            display: inline-block;
            position: absolute;
            left: -10px;
            top: 35%;
            border-radius: 50%;
            background-color: $color-primary;
            color: $white;
            padding: 3px 7px;
        }
    }
}

.section-restaurants{
    background-color: $light-gray;
    padding-bottom: 50px;
    h2{
        @extend %padding-h2-fonctionnement-restaurants;
    }
    &__card{
        width: 90%;
        margin: 15px auto;
        background-color: $white;
        border-radius: $border-radius;
        position: relative;
        @include box-shadow;
    }
    .image{
        height: 175px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        img{
            // height: 175px;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            position: relative;
            top: -55px;
        }
        .la-note-enchantee{
            top: -150px;
        }
    }
    &__btn{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        border-radius: 2px;
        border: none;
        padding: 5px 9px;
        font-size: 15px;
        z-index: 1;
        
    }
    &__btn-heart{
        @include btn-heart-like;
    }
    &__nom-lieu{
        position: relative;
        height: 60px;
        padding-left: 15px;
        h4{
            margin: 15px 0 5px 0;
        }
    }
}

.main-menu{
    background-color: $light-gray;
}

.section-menu{
    position: relative;
    top: -2.5rem;
    background-color: $light-gray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    &__title{
        position: relative;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 1.8rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    &__btn-heart{
            @include btn-heart-like;
            top: 50%;
            .like{
                background-color: $light-gray;
            }
    }
    &__subtitle{
        margin-top: 1rem;
        padding-left: 1rem;
        text-transform: uppercase;
        font-weight: lighter;
        &::after{
            display: block;
            content: "";
            height: 3px;
            margin-top: 3px;
            background-color: $color-tertiary;
            width: 2.7rem;
        }
    }
    &__list li{
        display: flex;
        @include div-rectangle;
        @include box-shadow;
        background-color: $white;
        padding: 10px;
        cursor: pointer;
        overflow: hidden;
        &:hover .section-menu__container-checked{
            margin-right: -0.7rem;
        }
        &:hover .section-menu__checked{
            transform: rotate(0);
        }
        .name-lunch{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
            h4{
                font-size: 1.1rem;
                margin-top: 0.3rem;
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
                font-size: 0.9rem;
                color: lighten($black, 40%);
            }
        }
        .price{
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-bottom: 0.3rem;
            margin-right: 0.5rem;
            margin-left: 1rem;
        }
    }
    &__container-checked{
        width: 4rem;
        background-color: $color-tertiary;
        @include flex-center-center;
        margin-top: -0.7rem;
        margin-bottom: -0.7rem;
        margin-left: 1rem;
        margin-right: -4.7rem;
        transition: all 0.5s;
    }
    &__checked{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $white;
        transform: rotate(180deg);
        transition: all 0.5s;
        i{
            color: $color-tertiary;
            position: relative;
            left: 5px;
            top: 3px;
        }
    }
    &__commander{
        @include flex-center-center;
        height: 110px;
    }
    &__btn{
        @include bouton-degrade;
        font-weight: bold;
        padding: 20px 60px;
    }
}