$dark-gray: rgb(53,53,53);
$middle-gray: rgb(234,234,234);
$light-gray: rgb(246,246,246);
$border-radius: 1.2rem;

$color-primary: #9356DC ;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$white: #fff;
$black: #000;

$breakpoints : ( 
    ipad : 750px,
    desktop : 1030px,
    desktop-plus: 1500px,
    high-height: 1830px
);