*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: bold;
}

button{
    cursor: pointer;
    font-size: 16px;
}

main a, img{
    display: block;
    color: $black;
}

a{
    text-decoration: none;
    color: $white;
}

ul, ol{
    list-style-type: none;
}

i{
    margin-right: 20px;
}

img{
    width: 100%;
    object-fit: cover;
}